<footer class="footer">
    <div class="container">
        <div class="grid">
            <div class="col">
                <a href="/">
                    <img src="https://via.placeholder.com/120" alt="" class="logo mb-20">
                </a>
                <a href="/" class="site-name">Футбольний клуб «ЦСКА-Київ»</a>
            </div>
            <div class="col">
                
                <ul class="nav__menu">
                    <li class="menu-item">
                        <a href="#">Головна</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Головна</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Головна</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Головна</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Головна</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Головна</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Головна</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Головна</a>
                    </li>
                </ul>
            </div>

            <div class="col">

                <div class="auth-btns">
                    <span class="btn btn--white">Реєстрація</span>
                    <span class="btn">Вхід</span>
                </div>
            </div>
        </div>
    </div>
</footer>