<header class="header">
    <div class="container-fluid">
        
        <div class="header__logo">
            <a href="/">
                <img src="https://via.placeholder.com/120" alt="" class="logo">
                <span class="logo--name site-name">Футбольний клуб «ЦСКА-Київ»</span>
            </a>
        </div>

        <div class="header__content">
            <div class="header__info">
                <span class="site-name">Футбольний клуб «ЦСКА-Київ»</span>

                <div class="auth-btns">
                    <span class="btn btn--white">Реєстрація</span>
                    <span class="btn">Вхід</span>
                </div>
            </div>


            <div class="header__nav nav">
                <ul class="nav__menu">
                    <li class="menu-item">
                        <a href="#">Головна</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Головна</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Головна</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Головна</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Головна</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Головна</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Головна</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Головна</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</header>