<head>

    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{{page_title}}</title>
    <meta name="description" content="" />
    <meta name="format-detection" content="telephone=no">

    <!--favicon-->
    <link rel="icon" type="image/x-icon" href="./images/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    

    <link rel="stylesheet" href="css/vendor.min.css"> 
    <link rel="stylesheet" href="css/style.css">

    <meta property="og:title" content="{{page_title}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content=""/>
    <meta property="og:description" content=""/> 
    <meta property="og:image" content=""/>

</head>