input:not([type="radio"]),
.input,
.form__input

	+sm
		padding: 25px 30px
		line-height: 1em
	+mob-hor
		padding: 25px 30px
		line-height: 1em
		

	&::-webkit-input-placeholder
		color: inherit
		transition: opacity .4s,transform .4s
		font-family: inherit
		font-size: inherit
		opacity: 1
		
	&:focus,
	&:-webkit-autofill
		border: 2px solid $c-light
		line-height: 1.55em
		// padding-left: 38px
		background-color: $inputBackg !important
		&::-webkit-input-placeholder
			transform: translateX(20px)
			opacity: 0

	&.error

.input
	&__dropdown
		position: relative
		cursor: pointer
		z-index: 1
		max-width: 260px
		+sm
			max-width: 215px
			margin-left: auto
			margin-right: auto
		+mob-hor
			max-width: 215px
			margin-left: auto
			margin-right: auto

		.drop-current
			@extend .form__input
			text-align: center

			&::after
				content: ''
				position: absolute
				size: 14px
				mask: url("../svg/arrow.svg")
				background-color: $c-light
				top: 50%
				right: 40px
				mask-size: cover
				mask-position: center
				-webkit-mask-repeat: no-repeat
				display: block
				transform: translateY(-50%) rotateZ(180deg)
				transition: transform .2s

		.drop-list
			position: absolute
			top: 100%
			left: 0
			right: 0
			max-width: 70%
			width: 100%
			max-height: 144px
			overflow-y: scroll
			text-align: center
			opacity: 0
			visibility: hidden
			transition: all .4s
			@extend .block-center

			+scrollbar
				width: 5px
				background-color: #737373
			+scrollbar-track
				width: 5px
				background-color: #737373
			+scrollbar-thumb
				width: 3px
				background-color: #434343
				border-radius: 28px;
				overflow: hidden
			+scrollbar-track-piece
				width: 5px
				background-color: #737373

			li
				background: #818284
				border: $border-solid
				font-size: 16px
				line-height: 48px
				height: 48px
				cursor: pointer

				&:active
					user-select: none
					background: rgba($c-light, 0.3)

		&.toggled
			.drop-list
				opacity: 1
				visibility: visible
			.drop-current
				&::after
					transform: translateY(-50%) rotateZ(0)