<section class="news-slider">


    <div class="container">
    {# last news #} 
    
        <div class="news-slider__preview swiper-container news-list">

            <div class="swiper-wrapper">
            
                {% for i in range(0, 4) -%}
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card__info">
                            <div class="card__category">
                                News {{i + 1}} 
                            </div>

                            <span class="card__title">Футбольний клуб «ЦСКА-Київ»</span>
                            <p class="card__date">1.09.2019</p>
                            <a class="card__btn btn">Переглянути</a>
                        </div> 
                        <div class="card__thumb">
                            <img src="./images/placeholder.jpg" alt="">
                        </div>
                    </div>
                </div>
                {%- endfor %}
            </div>

            <div class="swiper-pagination"></div>
        </div>

    


        <div class="news-slider__thumb swiper-container news-list">

            <div class="swiper-wrapper">
                
                {% for i in range(0, 4) -%}
                <div class="swiper-slide">
                    <div class="card">
                        <a class="card__info" href="#">
                            <div class="card__category">
                                News {{i + 1}} 
                            </div>

                            <span class="card__title">Футбольний клуб «ЦСКА-Київ»</span>
                            <p class="card__date">1.09.2019</p>
                        </a>
                        <div class="status-bar"></div>
                    </div>
                </div>
                {%- endfor %}
            </div>
        </div>
    </div>


</section>
