    
<section class="section news-grid news-grid--big-image">

    <div class="container">

        <div class="section__title">
            Новини та події
        </div>

        <div class="grid news-list">
            {# {% for i in range(0, 2) -%} #}
            {# <div class="grid__group"> #}
                {% for i in range(0, 6) -%}
                <a class="card" href="#">
                    <div class="card__thumb">
                        <img src="./images/placeholder.jpg" alt="">
                    </div>
                    <div class="card__info">
                        <div class="card__category">
                                News
                        </div>

                        <span class="card__title">Футбольний клуб «ЦСКА-Київ»</span>
                        <p class="card__date">1.09.2019</p>
                    </div>
                </a>
                {%- endfor %}
            {# </div> #}
            {# {%- endfor %} #}
        </div>

    
    </div>
 

</section>